# CS50 AI - Dec 22, 2024

Instructor: Suwash Shrestha

Welcome to CS50 AI

# Introduction to Python for Data Science

In [1]:
# Integer (int)
# Represents whole numbers, e.g., 5, -10.
age = 25
print(age)

25

In [2]:
#Float (float)
# Represents numbers with decimals, e.g., 3.14, -0.01.
temperature = 36.6
print(temperature)

36.6

In [3]:
# String (str)
name = "Alice"
print(name)

Alice

In [4]:
# Boolean (bool)
is_sunny = True
print(is_sunny)

True

In [5]:
# Integer to string
age = 25
print("I am " + str(age) + " years old.")

I am 25 years old.

In [6]:
# String to integer
value = "10"
print(int(value) + 5)

15

In [7]:
# Float to integer
pi = 3.14
print(int(pi))

3

In [8]:
# Integer to Boolean
number = 0
print(bool(number))

False


# Loops

In [9]:
# For Loops
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [10]:
# While loops
count = 5
while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

In [11]:
# Example: Breaking out of a loop
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [12]:
# Example: Skipping an iteration
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

Functions

In [13]:
# Example: Function that returns a value
def add(a, b):
    return a + b

In [14]:
result = add(5, 3)
print(result)

8

In [15]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

In [16]:
greet()

Hello, Guest!

In [17]:
greet("Alice")

Hello, Alice!

# Lets try a code

In [18]:
import numpy as np
import pandas as pd

 Create a small dataset using Numpy
 
 Generate random scores for 5 students in 3 subjects (Math, Science, English)

In [19]:
np.random.seed(42)  # For reproducibility
num_students = 5
subjects = ['Math', 'Science', 'English']
scores = np.random.randint(50, 101, size=(num_students, len(subjects)))

In [20]:
# 2. Create a Pandas DataFrame from the Numpy array
df = pd.DataFrame(scores, columns=subjects)

In [21]:
# 3. Add additional columns
# Adding a column for student names (Student_1, Student_2, ...)
df['Student'] = [f'Student_{i+1}' for i in range(num_students)]
# Adding a column for the average score
df['Average'] = df[subjects].mean(axis=1)
# Adding a column to classify students as 'Pass' or 'Fail' based on their average score (>60 is Pass)
df['Status'] = np.where(df['Average'] > 60, 'Pass', 'Fail')

print("--- Dataset ---")
print(df)

print("\n--- Subject Averages ---")
print(df[subjects].mean())

print("\n--- Pass/Fail Counts ---")
print(df['Status'].value_counts())

--- Dataset ---
   Math  Science  English    Student    Average Status
0    88       78       64  Student_1  76.666667   Pass
1    92       57       70  Student_2  73.000000   Pass
2    88       68       72  Student_3  76.000000   Pass
3    60       60       73  Student_4  64.333333   Pass
4    85       89       73  Student_5  82.333333   Pass

--- Subject Averages ---
Math       82.6
Science    70.4
English    70.4
dtype: float64

--- Pass/Fail Counts ---
Status
Pass    5
Name: count, dtype: int64